---
---

<footer class="bg-gray-900 text-white">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 py-4">
    <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center space-y-4 lg:space-y-0">

      <!-- copyright and contact -->
      <div class="flex flex-col px-3 space-y-1">
        <div class="text-xs text-gray-400 mb-4">
          <span>© Samson Foot + Ankle, P.A. | Designed by: </span>
          <a href="http://ericsamson.com" class="no-underline text-blue-400 hover:text-blue-300">ericsamson.com</a>
        </div>
        <div class="text-xs text-gray-400">
          <span>20 Main St, Oakland, ME 04963</span>
        </div>
        <div class="text-xs text-gray-400">
          <span>207-458-1809</span>
        </div>
      </div>

      <!-- legal links -->
      <div class="grid grid-cols-2 sm:grid-cols-3 lg:flex lg:space-x-2 gap-2 lg:gap-0 px-2 lg:px-0">
        <a href="/office/" class="no-underline text-xs font-normal text-gray-400 rounded-md px-2 py-1 hover:bg-white/5 hover:text-blue-300">Directions</a>
        <a href="/contact/" class="no-underline text-xs font-normal text-gray-400 rounded-md px-2 py-1 hover:bg-white/5 hover:text-blue-300">Contact</a>
        <a href="/nondiscrimination/" class="no-underline text-xs font-normal text-gray-400 rounded-md px-2 py-1 hover:bg-white/5 hover:text-blue-300">Non-discrimination</a>
        <a href="/patient-privacy/" class="no-underline text-xs font-normal text-gray-400 rounded-md px-2 py-1 hover:bg-white/5 hover:text-blue-300">Patient Privacy</a>
        <a href="/disclaimer/" class="no-underline text-xs font-normal text-gray-400 rounded-md px-2 py-1 hover:bg-white/5 hover:text-blue-300">Disclaimer</a>
      </div>

    </div>
  </div>
</footer>