---
import { Image } from 'astro:assets';
import logoImage from '../../public/logo/just_foot.png';
---

<nav class="sticky top-0 z-50 bg-gray-900 shadow-lg">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-20 items-center justify-between">
      <!-- brand name and phone number -->
      <div class="flex shrink-0 items-start">
        <Image src={logoImage} alt="Samson Foot + Ankle Logo" class="h-16 w-auto mt-2" loading="eager" />
        <div class="flex flex-col -mt-2">
          <a href="/" class="no-underline">
            <h1 class="text-xl font-bold text-white mb-0 rounded-md px-3 py-2 hover:bg-white/5 hover:text-blue-300 inline-block">Samson Foot + Ankle</h1>
          </a>
          <a href="tel:207-458-1809" class="text-base text-gray-400 px-3 mb-2 -mt-1 hover:text-blue-300 transition-colors no-underline">207-458-1809</a>
        </div>
      </div>

      <!-- desktop -->
      <div class="hidden lg:block">
        <div class="flex space-x-4">
          <a href="/#meet-doctor" class="no-underline rounded-md px-3 py-2 text-base font-medium text-white hover:bg-white/5 hover:text-blue-300">About</a>
          <a href="/services/" class="no-underline rounded-md px-3 py-2 text-base font-medium text-white hover:bg-white/5 hover:text-blue-300">Services</a>
          <a href="/office/" class="no-underline rounded-md px-3 py-2 text-base font-medium text-white hover:bg-white/5 hover:text-blue-300">Office</a>
          <a href="/blog/direct-pay/" class="no-underline rounded-md px-3 py-2 text-base font-medium text-white hover:bg-white/5 hover:text-blue-300">Direct Care</a>
          <a href="/contact/" class="no-underline rounded-md px-3 py-2 text-base font-medium text-white hover:bg-white/5 hover:text-blue-300">Contact</a>
          <a href="/faq/" class="no-underline rounded-md px-3 py-2 text-base font-medium text-white hover:bg-white/5 hover:text-blue-300">FAQ</a>
          <a href="/blog/" class="no-underline rounded-md px-3 py-2 text-base font-medium text-white hover:bg-white/5 hover:text-blue-300">Blog</a>
        </div>
      </div>

      <!-- mobile collapsable action -->
      <div class="absolute inset-y-0 right-0 flex items-center lg:hidden">
        <button id="mobile-menu-button" type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-white bg-white/5 hover:bg-transparent focus:outline-2 focus:-outline-offset-1 focus:outline-blue-500">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>

          <svg id="hamburger-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" aria-hidden="true" class="size-6">
            <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>

          <svg id="close-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" aria-hidden="true" class="size-6 hidden">
            <path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
          </svg>

        </button>
      </div>
    </div>

    <!-- mobile menu-->
    <div id="mobile-menu" class="lg:hidden hidden">
      <div class="space-y-1 px-1 pt-2 pb-3">
        <a href="/#meet-doctor" class="no-underline block rounded-md px-3 py-2 text-lg font-medium text-white hover:bg-white/5 hover:text-blue-300">About</a>
        <a href="/services/" class="no-underline block rounded-md px-3 py-2 text-lg font-medium text-white hover:bg-white/5 hover:text-blue-300">Services</a>
        <a href="/office/" class="no-underline block rounded-md px-3 py-2 text-lg font-medium text-white hover:bg-white/5 hover:text-blue-300">Office</a>
        <a href="/blog/direct-pay/" class="no-underline block rounded-md px-3 py-2 text-lg font-medium text-white hover:bg-white/5 hover:text-blue-300">Direct Care</a>
        <a href="/contact/" class="no-underline block rounded-md px-3 py-2 text-lg font-medium text-white hover:bg-white/5 hover:text-blue-300">Contact</a>
        <a href="/faq/" class="no-underline block rounded-md px-3 py-2 text-lg font-medium text-white hover:bg-white/5 hover:text-blue-300">FAQ</a>
        <a href="/blog/" class="no-underline block rounded-md px-3 py-2 text-lg font-medium text-white hover:bg-white/5 hover:text-blue-300">Blog</a>
      </div>

    </div>
  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', (): void => {
    const mobileMenuButton: HTMLElement | null = document.getElementById('mobile-menu-button');
    const mobileMenu: HTMLElement | null = document.getElementById('mobile-menu');
    const hamburgerIcon: HTMLElement | null = document.getElementById('hamburger-icon');
    const closeIcon: HTMLElement | null = document.getElementById('close-icon');

    if (mobileMenuButton && mobileMenu && hamburgerIcon && closeIcon) {
        mobileMenuButton.addEventListener('click', (): void => {
            // menu toggle
            mobileMenu.classList.toggle('hidden');

            // icon toggle
            hamburgerIcon.classList.toggle('hidden');
            closeIcon.classList.toggle('hidden');
        });
    }
  });
</script>